body{
    Text-align:center;
    background-color:#7371e3;
    
  }
  #First{
    font-size:80px;
  }
  #album{
    width:450px;
    border-style:solid;
    padding:5px;
    border-radius:600px;
    
  }
  #reasontext{
    font-size:50px;
    
  }